body {
  height: 100%;
  width: 100%;
  min-height: 600px;
  background-color: #9DADD4;
}

.main-content {
  padding: 10px;
}

h1 {
  font-family: 'Tauri', sans-serif;
  font-size: 90px;
  color: #FFFFFF;
}

.sign-in-panel {
  width: 300px;
  margin: 0px auto;
}

.button-container {
  padding: 10px 40px;
}

.sign-in {
  display: block;

  &.facebook {
    border-color: #3B5998;
    background-color: #3B5998;
  }

  &.twitter {
    border-color: #4099FF;
    background-color: #4099FF;
  }
}