<div class='inner centered-content'>
  <h5 class='inner'>Before you start, please tell us about your food preferences:</h5>
  <p class='inner'>Which of these do you EXCLUDE from your diet?</p>
  <div class='inner centered-content'>
    <div class='button-container'>
      <button class='diet-choice'>Gluten</button>
    </div>
    <div class='button-container'>
      <button class='diet-choice'>Sugar</button>
    </div>
    <div class='button-container'>
      <button class='diet-choice'>Sea Food</button>
    </div>
    <div class='inner'>
      <h5 for='custom-diet-choice'>Other:</h5>
      <input name='custom-diet-choiche' type='text'></input>
    </div>
    <hr>
    <div class='button-container'>
      <button class='ok-button'>OK</button>
    </div>
  </div>
</div>