<div class='inner centered-content'>
  <h5 class='inner'>Before you start, please tell us about your food preferences:</h5>
  <p class='inner'>Which of these do you EXCLUDE from your diet?</p>
  <div class='inner centered-content'>
    <div class='diet-choices'></div>
<!--     <div class='inner'>
      <h5 for='custom-diet-choice'>Other:</h5>
      <input name='custom-diet-choice' type='text'></input>
    </div> -->
    <hr>
    <div class='button-container'>
      <div class='button ok-button'>OK</div>
    </div>
  </div>
</div>
