<div class='row'>
  <div class='centered-content'>
    <div class='inner'>
      <h3>Welcome to your BiteProfile panel.</h3>
    </div>
  </div>
</div>
<div class='spacer'></div>
<div class='row'>
  <div class='centered-content'>
    <div class='user-board size2of3'>
      <div class='inner'>
        <div class='inner'>
          <h4>{{name}}</h4>
        </div>
        <div class='inner'>
          <img class='round profile-picture' src='{{picture_url}}'>
        </div>
      </div>
    </div>
  </div>
</div>