<div class='main-content'>
  <div class='centered-content'>
    <h1>Bite Profile.</h1>
  </div>
  <div class='centered-content'>
    <div class='sign-in-panel'>
      <div class='button-container'>
        <a href="/auth/facebook">
          <div class='sign-in facebook'>Sign-in with Facebook</button>
        </a>
      </div>
      <div class='button-container'>
        <button class='sign-in twitter'>Sign-in with twitter</button>
      </div>
    </div>
  </div>
</div>