<div class='user-panel'>
  <div class='main-content'>
    <div class='centered-content'>
      <h3>Welcome to you Bite Profile Panel.</h3>
    </div>
  </div>
</div>

<%= bootstrap_json %>
<%= javascript_include_tag 'application' %>