<!DOCTYPE html>
<html>
<head>
  <title>Biteprofile</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="overlay-container"></div>
  <%= yield %>
</body>
</html>
